# Logs y caches
*.log
__pycache__/
*.pyc

# Archivos grandes o temporales
*.zip
*.tar
*.tgz

# Entornos y llaves (no exponer secretos)
.env
.env.*
.env.local

# Cursor
.cursor/*
!.cursor/rules/*.mdc

# Node/Frontend (si aplica)
node_modules/
dist/
build/