# Logs y caches
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# Python env
.venv/
venv/
.env
.env.*
.env.local

# Builds y empaques
build/
dist/
*.egg-info/
*.zip
*.tar
*.tgz

# Node/Frontend (si aplica)
node_modules/
dist/
out/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Cursor
.cursor/*
!.cursor/rules/*.mdc